/Cartographer.class
/Consumable.class
/Consume.class
/EdgyScaryFiendLord.class
/Hero.class
/LuckyBoii.class
/MerchantMan.class
/Support.class
/Tank.class
/Team.class
/TeamInventory.class
/AugmentVitality.class
